<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistema de coeficientes</title>
    <link rel="stylesheet" href="../vendor/style/grid.css">
    <link rel="stylesheet" href="../style/custom.css">
</head>

<body>
    <div class="container" id="cadastro">
        <div class="row">
            <div class="spacer"></div>
            <div class="col md-4 xs-12 sm-12 card">
                <h1>Cadastrar</h1>
                <input type="text" class="text-field" placeholder="Nome" v-model="aluno.nome">
                <input type="number" class="text-field" placeholder="RA" v-model="aluno.ra">
                <select v-model="aluno.curso.nomeCurso" class="text-field">
                    <option v-for="(i, index) in cursosDisponiveis" :key="index" :value="index">
                        {{i.nomeCurso}}</option>
                </select>
                <select v-model="aluno.campus" class="text-field">
                    <option v-for="(i, index) in campiDisponiveis" :key="index" :value="i">
                        {{i}}</option>
                </select>
                <input type="email" class="text-field" placeholder="Email" v-model="aluno.email">
                <input type="password" class="text-field" placeholder="Senha" v-model="aluno.senha">
                <label for="file">Importar JSON</label>
                <input type="file" @change="filex">
                <button class="btn">Cadastrar</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script>
        new Vue({
            el: "#cadastro",
            data: {
                cursosDisponiveis: [{
                    nomeCurso: "Selecione o Curso",
                    codCurso: "",
                    creditosTotal: 0
                }, {
                    nomeCurso: "Ciência da computação",
                    codCurso: "000E",
                    creditosTotal: 90
                }],
                aluno: {
                    campus: 'Selecione o Campus',
                    nome: null,
                    ra: null,
                    curso: {
                        nomeCurso: 'Selecione o Curso'
                    },
                    email: null,
                    senha: null
                },
                campiDisponiveis: [
                    "Selecione o Campus",
                    "Santo André",
                    "São Bernardo do Campo"
                ],
            }
        })
    </script>
</body>

</html>